[workspace]
resolver = "2"

members = ["arceos-vmm"]

[profile.release]
lto = true

[workspace.dependencies]
# axstd = { git = "https://github.com/arceos-hypervisor/arceos.git", branch = "vmm" }
axstd = { path = "../arceos/ulib/axstd" }

# axvm = { git = "https://github.com/arceos-hypervisor/axvm.git" }
# axvcpu = { git = "https://github.com/arceos-hypervisor/axvcpu.git" }
axvm = { path = "../axvm" }
axvcpu = { path = "../axvcpu" }

axaddrspace = { git = "https://github.com/arceos-hypervisor/axaddrspace.git" }

arm_vcpu = { git = "https://github.com/arceos-hypervisor/arm_vcpu.git" }
x86_vcpu = { git = "https://github.com/arceos-hypervisor/x86_vcpu.git" }
# riscv_vcpu = { git = "https://github.com/arceos-hypervisor/riscv_vcpu.git" }
riscv_vcpu = { path = "../riscv_vcpu" }
