# Build output and other log files from arceos
/target
/tmp
*.asm
*.img
*.bin
*.elf
actual.out
qemu.log
rusty-tags.vi
*.tmp_its

# Visual Studio Code settings
/.vscode

# macOS system files
.DS_Store

# ramdisk.img need by rk3588
!*ramdisk.img