# Build output and other log files from arceos
/target
*.asm
*.img
*.bin
*.elf
actual.out
qemu.log
rusty-tags.vi

# Visual Studio Code settings
/.vscode

# macOS system files
.DS_Store

# We ignore Cargo.lock because `axvcpu` is just a library
Cargo.lock
